<div> 
  <h3>Tidy data for librarians: Setup</h3>
  <p>
   Spreadsheets are useful for data entry and data organization, and some subsetting and sorting of the data as well as getting an overview of the data. Please find instructions to install it and the data used in the lesson in the <a href="https://librarycarpentry.org/lc-spreadsheets/setup.html">lesson</a>.  
  </p>
</div>

<div id="openrefine-setup">
  <h3>OpenRefine: Setup</h3>
  <p>
    OpenRefine is a tool to clean up and organize messy data. Please find instructions to install it and the data used in the lesson in the <a href="https://librarycarpentry.org/lc-open-refine/setup.html">lesson</a>.
  </p>
</div>

<div >
  <h3>R and R Studio: Setup</h3>
  <p>
R is more of a programming language than just a statistics program. It was started by Robert Gentleman and Ross Ihaka from the University of Auckland in 1995. They described it as “a language for data analysis and graphics.” You can use R to create, import, and scrape data from the web; clean and reshape it; visualize it; run statistical analysis and modeling operations on it; text and data mine it; and much more. The term “R” is used to refer to both the programming language and the software that interprets the scripts written using it.

RStudio is a user interface for working with R. It is called an Integrated Development Environment (IDE): a piece of software that provides tools to make programming easier. RStudio acts as a sort of wrapper around the R language. You can use R without RStudio, but it’s much more limiting. RStudio makes it easier to import datasets, create and write scripts, and makes using R much more effective. RStudio is also free and open source. To function correctly, RStudio needs R and therefore both need to be installed on your computer.
 
Please find setup instructions in the <a href="https://librarycarpentry.org/lc-r/setup.html">lesson</a>.  
  </p>
</div>
